* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
/*---------------------------------------------------- login-------------------------------------- */
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
body {
  background: url(./bg/login-bg/810262_preview.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /* transition: all 400ms ease-in-out; */
}
.wrapper {
  height: 100vh;
  width: 100%;

   display: flex; 
  justify-content: center;
  align-items: center; 
  /* background-color: aqua; */
}
.container-city {
  position: relative;
  /* background: purple; */
  width: 40%;
  height: 90vh;
  align-self: center;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;     
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.2);
box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.2);
border-radius: 15px;
}
.searchbox{
  position: relative;
  /* background: slateblue; */
  /* border: 2px solid red; */
  width: 100%;
  height: 40px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  border-radius: 15px;

}
.searchbox input {
  background: transparent;
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid black;
  outline: none;
  border-radius: 15px;
  font-size: 22px;
  text-transform: uppercase;
  color: black;
  padding: 0px 48px 0px 40px ;
  font-weight: 500;
  /* overflow: auto; */
}

.searchbox input::placeholder {
  color: black;
  text-transform: capitalize;
}
.searchbox button {
  position: absolute;
  right: 0px;
  width: 40px ;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 28px;
  color: black;
  padding:5px 40px 0px 5px;
  cursor: pointer;
}
.bxs-map {
  position: absolute;
  left: 0px;
  font-size: 28px;
  padding:6px 0px 0px 5px;
  color: black;
  cursor: pointer;
}
/* .bxs-map:hover{
  cursor: pointer;
} */
@media screen and (max-width : 900px) {
  .container-city {
    width: 60%;
  }
}
@media screen and (max-width : 620px) {
  .container-city {
    width: 80%;
  }
}
@media screen and (max-width : 440px) {
  .container-city {
    width: 100%;
    height: 60vh;
  }
}
/*----------------------------------------------------end login-------------------------------------- */

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  /* transition: all 500ms ease-in-out; */
  /* color: white; */
  /* background: url(./bg/810262_preview.jpg) no-repeat; */
  background: url(./bg/sun-shining-dark-clouds-green-field.jpg) no-repeat;
  background-size: cover;
  /* background-position: 0px -290px;*/
  background-position: center;
}
/* night gradiant */
/* .sky
/*****************************************
Check out Nat's pen with animated SVG weather icons. 

https://codepen.io/nsayenko/pen/JKzxdm/
*******************************************/
.hide {
  display: none;
}
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  gap: 20px;
  /* border: 2px solid black; */
  /* backdrop-filter: blur(10px); */
  transition: all 1000ms ease-in-out;
}
/* -------------------- navbar --------------- */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 100px grey;
}
.navbar .heading {
  margin-left: 10px;
  transition: all 600ms ease-in-out;
}
.navbar .date {
  margin-right: 15px;
  font-weight: 600;
}
.navbar .time {
  font-weight: 600;
}
.navbar .heading:hover {
  cursor: pointer;
  transform: rotateX(-360deg);
}
/* ------------------ end navbar ------------*/
/* ------------------ home ------------*/

.home {
  flex-grow: 20;
  /* border: 2px solid black; */
  display: flex;
  gap: 20px;
  flex-direction: row;
  align-items: center;
  /* margin: auto; */
  justify-content: space-around;
}
.screen {
  backdrop-filter: blur(10px);
  width: 20%;
  height: 50vh;
  box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* gap: 15px; */
  flex-direction: column;
  padding: 20px;
}
.city h3 {
  font-size: 22px;
}
.cityName{
  text-transform: capitalize;
}
.temp {
  font-size: 35px;
  position: relative;
  /* color: white; */
}
.temp span {
  position: absolute;
  font-weight: 900;
  top: 0%;
  font-size: 16px;
  /* color: orange; */
}
.dayType p {
  font-weight: 600;
  /* font-size: 30px; */
}
#wheathertype {
  font-size: 30px;
} 
.description {
  display: flex;
  /* flex-direction: row; */
  gap: 35px;
  justify-content: space-between;
  /* border: 2px solid black; */
}
.wind-div , .humidity-div{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.wind-div i , .humidity-div i{
  font-size: 25px;
}
.weekcast {
  width: 40%;
  height: 70%;
  box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 25px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
}
.hour-forecast {
  background: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 20px;
}
.week-forecast {
  background:lightgoldenrodyellow;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 25px;

}
/* -----------------------------HOME MEDIA QUERRY -------------------- */

@media screen and (max-width : 1200px) {
  .navbar .heading {
    font-size: 16px;
    font-weight: 200;
  }
  .date {
    font-weight: 200;
  }
  .time {
    font-weight: 200;
  }
  .home {
    flex-direction: column;
  }
  
}
.screen {
  width: 250px;
}
.weekcast{
  width: 550px;
}



@media screen and (max-width:660px){
  .screen{
    width: 50%;
  }
  .weekcast{
    width: 80%;
  }
  .navbar {
    flex-grow: 1.5;
    gap: 5px;
    /* justify-content: ceter; */
    /* align-items: center; */
    text-align: center;
    margin: 0%;
    padding: 0%;
    align-items: center;
  }
  .date {
    word-spacing: 1px;
    font-weight: 100;
  }
  .heading {
    font-weight: 100;
  }
  .time {
    /* word-spacing: 1px; */
    /* letter-spacing: 1px; */
    font-weight: 100;

  }
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
  }
  .footer p ,footer p a {
    /* font-size: 8px; */
    letter-spacing: 0px;
  font-weight: 30;  

  /* text-align: center; */
  }
  footer p a {
    font-size: 4px;
  }
}

/* ------------------ end home ------------*/

.footer {
  display: flex;
  align-items: center;
  flex-grow: 0.2;
  /* border: 2px solid black; */
  backdrop-filter: blur(2px);
  font-family: "Courier New", Courier, monospace;
  /* font-weight: 700; */
  letter-spacing: 2px;
  word-spacing: 3px;
  justify-content: center;
  box-shadow: 0px 0px 100px rgb(0, 0, 0);
}
.footer p a, footer p {
  color:white;
  font-size: 12px;
}
footer p a {
  /* display: none; */
  text-decoration: none;
}
